[Unit]
Description = Lightweight UPnP IGD daemon
After = network.target

[Service]
Type = forking
ExecStartPre = /etc/miniupnpd/iptables_flush.sh
ExecStart = /usr/sbin/miniupnpd -f /etc/miniupnpd/miniupnpd.conf
ExecStopPost = /etc/miniupnpd/iptables_flush.sh
PIDFile = /run/miniupnpd.pid
Restart = on-failure

[Install]
WantedBy = multi-user.target
