[Unit]
Description = Ambiled
After = remote-fs.target
After = syslog.target
 
[Service]
Type = simple
Restart = always
RestartSec = 15
ExecStart = /usr/local/bin/hyperiond /etc/hyperion.json
StandardOutput = journal

[Install]
WantedBy = multi-user.target
