[Unit]
Description = XBMC Media Center
After = remote-fs.target
After = syslog.target
 
[Service]
Type = simple
Restart = always
RestartSec = 15
ExecStart = /usr/local/bin/xbmc-start
ExecStop = /usr/local/bin/xbmc-stop
TTYPath = /dev/tty9
StandardInput = tty
StandardOutput = journal

[Install]
WantedBy = xbmc.target
