[Unit]
Description = XBMC Media Center
After = remote-fs.target
After = syslog.target
 
[Service]
Type = simple
Restart = always
RestartSec=5
KillMode=process
ExecStart = /sbin/getty -L tty9 -a xbmc -l /usr/local/bin/xbmc-xinit
 
[Install]
WantedBy = multi-user.target
