[Unit]
Description = XBMC Media Center
After = remote-fs.target
After = syslog.target
 
[Service]
User = xbmc
Group = xbmc
Type = simple
Restart = always
RestartSec = 15
KillMode = process
ExecStart = /usr/bin/xinit /usr/bin/xbmc-standalone -- :0
ExecStop = /usr/bin/xbmc-send --action="XBMC.Quit"
TTYPath = /dev/tty9
StandardInput = tty
StandardOutput = journal

[Install]
WantedBy = multi-user.target
