[Unit]
Description = Setup firewall
DefaultDependencies = no
Before = network-pre.target
Wants = network-pre.target

[Service]
Type = oneshot
RemainAfterExit = yes
ExecStart = /etc/firewall/run

[Install]
WantedBy = multi-user.target
