[Unit]
Description=Kodi Media Center
After=remote-fs.target
After=syslog.target
Conflicts=getty@tty1.service
 
[Service]
Type=idle
Restart=always
RestartSec=15
User=xbmc
Group=xbmc
PAMName=login
ExecStart=/usr/local/bin/kodi-start
ExecStop=/usr/local/bin/kodi-stop
TTYPath=/dev/tty1
StandardInput=tty
StandardOutput=journal

[Install]
WantedBy=multi-user.target
