[Unit]
Description=Kodi Media Center
After=systemd-user-sessions.service
After=rc-local.service
 
[Service]
Type=idle
Restart=always
RestartSec=15
ExecStart=-/sbin/agetty -a xbmc tty9 $TERM
ExecStop=/usr/local/bin/kodi-stop
UtmpIdentifier=tty9
TTYPath=/dev/tty9
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=journal

[Install]
WantedBy=multi-user.target
