[Unit]
Description = dhclient on %I
Wants = network.target
Before = network.target
BindsTo = sys-subsystem-net-devices-%i.device
After = sys-subsystem-net-devices-%i.device

[Service]
Type = forking
PIDFile = /run/dhclient.%I.pid
ExecStart = /sbin/dhclient -v -cf /etc/dhcp/dhclient.%I.conf -pf /run/dhclient.%I.pid -lf /var/lib/dhcp/dhclient.%I.leases %I

[Install]
WantedBy = multi-user.target
